@charset "utf-8";
/* common */
/* small screen */


html{
  background-color: pink;
  font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
  font-family: 'UD デジタル 教科書体 NP-B',Arial,'Droid Sans','メイリオ', Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}
aside{
  display: none;
}

.body1{
  background-color: #d2fad8;
  width: auto;
  margin: 3% 5%;
  border-radius: 50px;
}
.header1{
  color: #000;
  border: inherit;
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  width: auto;
  height: auto;
  padding: 10px 0 0;
}

.map1{
  width: 100%;
  height: auto;
  padding: 0;
  border: 5px solid rgba(0, 140, 255, 0.4);
  border-radius: 2%;
}


.img1{
  width: 70%;
  height: auto;
  margin: 2%;
}
.img2{
  width: 40%;
  height: auto;
  margin: 2%;
}

.section1{
  text-align: center;
  list-style: none;
  display: block;
  margin: 10 auto;
  padding: auto;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;

}
.section3{
  text-align: center;  
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: normal;
  margin: auto 10%;
}

p{
  margin: auto;
  padding: auto;
}
p + p {
  margin: 10px auto auto;
}

table, th, td{
  border: #000 solid 1px;
  flex: 1;
}

ul{
  padding: 0%;
  list-style: none;
}
li{
  margin-bottom: 30px;
}
.link_button{
  text-decoration: none;/*下線消す*/
  color:#000;
  padding:5px 10px;
  border: solid #000 2px;
  border-radius: 10px;/*角を丸くする*/
  cursor :pointer;
}
.link_button:hover {
  background: #efefef;
  text-decoration: none;/*下線を消す*/
}
.top_button{
  color:#fff;
  background: rgb(0, 153, 255);
  text-decoration: none;
  position: fixed;
  bottom: 3%;
  right: 5%;
  padding:5px 10px;
  margin: auto;
  /* border: double #000 2px; */
  border-radius: 10px;
  cursor :pointer;  
  }
  .top_button:hover {
    background: skyblue;
    text-decoration: none;/*下線を消す*/
  }

#blockCM,
#blockABC1,#blockABC2,#blockABC3,#blockABC4,#blockDE1,#blockDE2,#blockDE3,#blockDE4,#blockDE5,#blockDE6,
#blockTosho1,#blockTosho2,#blockTosho3,#blockTosho4,#blockTosho6,
#block_kanri1,#block_kanri2,

#blockbhk_K1,#blockbhk_K2,#blockbhk_K3,#blockbhk1_1,#blockbhk1_2,#blockbhk1_3,
#block_kyoiku_kougi1,#block_kyoiku_kougi2,#block_kyoiku_kougi3,#block_kyoiku_kougi4,
#blockRi1,#blockRi2,#blockRi3,#blockRi4,
#blockNou1_1,#blockNou1_2
{
  margin: 30px 10% 10px;
  padding: 15px 0 0;
  border-top: dotted #000;
}

.shadow{
  cursor: pointer;
}
.shadow:hover{
  filter: drop-shadow(0px 0px 10px rgb(0, 240, 0));
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

/*全体*/
.hidden_box {
  margin: 2em 0;/*前後の余白*/
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
  padding: 5px;
  border: dashed 2px black;
  cursor :pointer;
  border-radius: 10px;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: #efefef;
}

/* チェックは見えなくする */
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}


/* ポップアップ全体設定 */
* {
  box-sizing: border-box;
  }

/* ポップアップウインドウの設定 */
.popup {
  background-color: #efefef;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
  z-index: 99;
}
/* チェックボックスの初期設定 */
#popup-on{
  display: none;
}
/* チェックされたらポップアップウインドウを開く */
#popup-on:checked + .popup{
  display: block;
}

/* 閉じるアイコン（右上） */
.icon-close{
  background: #000;
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

/* 閉じるボタン */
.btn-close{
  background: #000;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 95%;
  text-align: center;
}

/* 開くボタン */
.btn-open{
  background: #fff;
  border-radius: 10px;
  color: #fff;
  padding: 0px;
  cursor: pointer;
  margin: 0px ;
  width: 95%;
  text-align: center;
}

/* ポップアップの内容 */
.popup-content{
  margin: 10% auto auto auto;
  width: 90%;
  height: auto;
}

.popup-flex{
  display: flex;
  justify-content: space-between;
}


/* HOME */
  .asolutebf{
    position: absolute;
  }

/* 一般教育棟ABC棟 */
  .relativeABC{
    position: relative;
    max-width: 1000px;
    min-width: 250px;
    width: 80%;
    margin: 0 auto;
  }
  .iconABC{
    width: 4%;
    height: auto;
  }
  /* ABC1F */
    .absoluteAED1{
      position: absolute;
      top: 70%;
      left: 95.5%;
      margin: auto;
    }
    .absoluteELA1{
      position: absolute;
      top: 40.2%;
      left: 89%;
      margin: auto;
    }
      #popup-Aele{
        display: none;
      }
      #popup-Aele:checked + .popup{
        display: block;
      }
    .absoluteELB1{
      position: absolute;
      top: 36%;
      left: 18.5%;
      margin: auto;
    }
      #popup-Bele{
        display: none;
      }
      #popup-Bele:checked + .popup{
        display: block;
      }
    .absoluteTB1_1{
      position: absolute;
      top: 57%;
      left: 54%;
      margin: auto;
    }
      #popup-BtoiletGirl{
        display: none;
      }
      #popup-BtoiletGirl:checked + .popup{
        display: block;
      }
    .absoluteTC1{
      position: absolute;
      top: 60%;
      left: 6.5%;
      margin: auto;
    }
      #popup-Ctoilet{
        display: none;
      }
      #popup-Ctoilet:checked + .popup{
        display: block;
      }
    .absoluteANslope{
      position: absolute;
      top: 45%;
      left: 96%;
      margin: auto;
      transform: rotate(-90deg);
    }
      #popup-ANslope{
        display: none;
      }
      #popup-ANslope:checked + .popup{
        display: block;
      }
    .absoluteAEslope{
      position: absolute;
      top: 85%;
      left: 93%;
      margin: auto;
      transform: rotate(-90deg);
    }
      #popup-AEslope{
        display: none;
      }
      #popup-AEslope:checked + .popup{
        display: block;
      }
    .absoluteAWslope{
      position: absolute;
      top: 37%;
      left: 87%;
      margin: auto;
      transform: rotate(180deg);
    }
      #popup-AWslope{
        display: none;
      }
      #popup-AWslope:checked + .popup{
        display: block;
      }
    .absoluteBWslope{
      position: absolute;
      top: 37%;
      left: 57%;
      margin: auto;
      transform: rotate(180deg);
    }
      #popup-BWslope{
        display: none;
      }
      #popup-BWslope:checked + .popup{
        display: block;
      }
    .absoluteCWslope{
      position: absolute;
      top: 28%;
      left: 14%;
      margin: auto;
      transform: rotate(-90deg);
    }
      #popup-CWslope{
        display: none;
      }
      #popup-CWslope:checked + .popup{
        display: block;
      }
    .absoluteCEslope{
      position: absolute;
      top: 93%;
      left: 10%;
      margin: auto;
    }
      #popup-CEslope{
        display: none;
      }
      #popup-CEslope:checked + .popup{
        display: block;
      }
    .absoluteCSslope{
      position: absolute;
      top: 50%;
      left: 2%;
      margin: auto;
      transform: rotate(90deg);
    }
      #popup-CSslope{
        display: none;
      }
      #popup-CSslope:checked + .popup{
        display: block;
      }

  /* ABC2F */
    .absoluteELA2{
      position: absolute;
      top: 40%;
      left: 91%;
      margin: auto;
    }
    .absoluteELB2{
      position: absolute;
      top: 35%;
      left: 14%;
      margin: auto;
    }
    .absoluteTB2_1{
      position: absolute;
      top: 55%;
      left: 53%;
      margin: auto;
    }
  /* ABC3F */
    .absoluteELA3{
      position: absolute;
      top: 42%;
      left: 91%;
      margin: auto;
    }
    .absoluteELB3{
      position: absolute;
      top: 38%;
      left: 14.5%;
      margin: auto;
    }
    .absoluteTB3_1{
      position: absolute;
      top: 55%;
      left: 53%;
      margin: auto;
    }
  /* ABC4F */
    .absoluteELA4{
      position: absolute;
      top: 41%;
      left: 91%;
      margin: auto;
    }
    .absoluteELB4{
      position: absolute;
      top: 38%;
      left: 14.5%;
      margin: auto;
    }
    .absoluteTB4_1{
      position: absolute;
      top: 56%;
      left: 53%;
      margin: auto;
    }


/* 一般教育棟DE棟 */
  .relativeDE{
    position: relative;
    width: 45%;
    margin: 0 auto;
  }
  .iconDE{
    width: 8%;
    height: auto;
  }
  /* DE1F */
    .absoluteDele1{
      position: absolute;
      top: 24%;
      left: 76%;
      margin: auto;
    }
      #popup-Dele{
        display: none;
      }
      #popup-Dele:checked + .popup{
        display: block;
      }
    .absoluteDtoilet1{
      position: absolute;
      top: 67%;
      left: 73%;
      margin: auto;
    }
      #popup-Dtoilet{
        display: none;
      }
      #popup-Dtoilet:checked + .popup{
        display: block;
      }
    .absoluteDWslope{
      position: absolute;
      top: 24%;
      left: 95%;
      margin: auto;
      transform: rotate(-90deg);
    }
      #popup-DWslope{
        display: none;
      }
      #popup-DWslope:checked + .popup{
        display: block;
      }
    .absoluteDNslope{
      position: absolute;
      top: 76%;
      left: 85%;
      margin: auto;
      transform: rotate(-90deg);
    }
      #popup-DNslope{
        display: none;
      }
      #popup-DNslope:checked + .popup{
        display: block;
      }
    .absoluteEWslope{
      position: absolute;
      top: 70%;
      left: 56%;
      margin: auto;
      transform: rotate(180deg);
    }
      #popup-EWslope{
        display: none;
      }
      #popup-EWslope:checked + .popup{
        display: block;
      }
    .absoluteEEslope{
      position: absolute;
      top: 86%;
      left: 56%;
      margin: auto;
    }
      #popup-EEslope{
        display: none;
      }
      #popup-EEslope:checked + .popup{
        display: block;
      }

  /* DE2F */
    .absoluteDele2{
      position: absolute;
      top: 24%;
      left: 76%;
      margin: auto;
    }
    .absoluteDtoilet2{
      position: absolute;
      top: 67%;
      left: 72%;
      margin: auto;
    }
  /* DE3F */
    .absoluteDele3{
      position: absolute;
      top: 25%;
      left: 75%;
      margin: auto;
    }

    .absoluteDtoilet3{
      position: absolute;
      top: 67%;
      left: 70%;
      margin: auto;
    }
  /* DE4F */
    .absoluteDele4{
      position: absolute;
      top: 25%;
      left: 75%;
      margin: auto;
    }
    .absoluteDtoilet4{
      position: absolute;
      top: 67%;
      left: 70%;
      margin: auto;
    }
  /* DE5F */
    .absoluteDele5{
      position: absolute;
      top: 90%;
      left: 45%;
      margin: auto;
    }
  /* DE6F */
    .absoluteDele6{
      position: absolute;
      top: 90%;
      left: 45%;
      margin: auto;
    }

/* 附属図書館 */
  .relative_tosho{
    position: relative;
    max-width: 1000px;
    min-width: 250px;
    width: 80%;
    margin: 0 auto;
  }
  .icon_tosho{
    width: 4%;
    height: auto;
  }
  .relative_tosho46{
    position: relative;
    max-width: 1000px;
    min-width: 250px;
    width: 50%;
    margin: 0 auto;
  }
  .icon_tosho46{
    width: 7%;
    height: auto;
  }
  /* 図書館1F */
  .Tosho_Wele1{
    position: absolute;
      top: 56%;
      left: 21%;
      margin: auto;
  }
    #popup-toshoWele{
      display: none;
    }
    #popup-toshoWele:checked + .popup{
      display: block;
    }
  .Tosho_Sele1{
    position: absolute;
      top: 63%;
      left: 45%;
      margin: auto;
  }
    #popup-toshoSele{
      display: none;
    }
    #popup-toshoSele:checked + .popup{
      display: block;
    }
  .Tosho_Et1{
    position: absolute;
      top: 56%;
      left: 70%;
      margin: auto;
  }
    #popup-toshoEt{
      display: none;
    }
    #popup-toshoEt:checked + .popup{
      display: block;
    }
  .Tosho_Wt1{
    position: absolute;
      top: 56%;
      left: 27%;
      margin: auto;
  }
    #popup-toshoWt{
      display: none;
    }
    #popup-toshoWt:checked + .popup{
      display: block;
    }
  .Tosho_FEslope{
    position: absolute;
      top: 90%;
      left: 85%;
      margin: auto;
      transform: rotate(-90deg);
  }
    #popup-toshoFEslope{
      display: none;
    }
    #popup-toshoFEslope:checked + .popup{
      display: block;
    }
  .Tosho_FWslope{
    position: absolute;
      top: 90%;
      left: 15%;
      margin: auto;
      transform: rotate(90deg);
  }
    #popup-toshoFWslope{
      display: none;
    }
    #popup-toshoFWslope:checked + .popup{
      display: block;
    }

  /* 図書館2F */
  .Tosho_Wele2{
    position: absolute;
      top: 56%;
      left: 16%;
      margin: auto;
  }
  .Tosho_Sele2{
    position: absolute;
      top: 65%;
      left: 46%;
      margin: auto;
  }
  /* 図書館3F */
  .Tosho_Wele3{
    position: absolute;
      top: 56%;
      left: 16%;
      margin: auto;
  }
  .Tosho_Sele3{
    position: absolute;
      top: 64%;
      left: 46%;
      margin: auto;
  }
  .Tosho_Wt3{
    position: absolute;
      top: 56%;
      left: 21%;
      margin: auto;
  }
  /* 図書館4F */
  .Tosho_Wele4{
    position: absolute;
      top: 83%;
      left: 43%;
      margin: auto;
  }
  /* 図書館6F */
  .Tosho_Wele6{
    position: absolute;
      top: 84%;
      left: 44%;
      margin: auto;
  }

/* 環境理工学部 */
  .relative_kanri{
    position: relative;
    max-width: 1000px;
    min-width: 250px;
    width: 80%;
    margin: 0 auto;
  }
  .icon_kanri{
    width: 4%;
    height: auto;
  }
  /* 1F */
    .kanriele1{
      position: absolute;
      top: 65%;
      left: 27%;
      margin: auto;
    }
      #popup-kanriele{
        display: none;
      }
      #popup-kanriele:checked + .popup{
        display: block;
      }
      .kanriESt1{
        position: absolute;
        top: 66%;
        left: 77%;
        margin: auto;
      }
        #popup-kanriESt{
          display: none;
        }
        #popup-kanriESt:checked + .popup{
          display: block;
      }
      .kanriWNt1{
        position: absolute;
        top: 32%;
        left: 10%;
        margin: auto;
      }
        #popup-kanriWNt{
          display: none;
        }
        #popup-kanriWNt:checked + .popup{
          display: block;
        }
      .kanriSslope{
        position: absolute;
        top: 90%;
        left: 45%;
        margin: auto;
      }
        #popup-kanriSslope{
          display: none;
        }
        #popup-kanriSslope:checked + .popup{
          display: block;
        }
  /* 2F */
    .kanriele2{
      position: absolute;
      top: 49%;
      left: 26%;
      margin: auto;
    }
    .kanriESt2{
      position: absolute;
      top: 53%;
      left: 80%;
      margin: auto;
    }

/* 工学部 */
  .relative_kou{
    position: relative;
    max-width: 1000px;
    min-width: 250px;
    width: 80%;
    margin: 0 auto;
  }
  .icon_kou{
    width: 4%;
    height: auto;
  }
  /* 工学部1号館1F */
  .kou1ele1{
    position: absolute;
    top: 86%;
    left: 55%;
    margin: auto;
  }
    #popup-kou1ele{
      display: none;
    }
    #popup-kou1ele:checked + .popup{
      display: block;
    }
  .kou1t1{
    position: absolute;
    top: 72%;
    left: 36%;
    margin: auto;
  }
    #popup-kou1t{
      display: none;
    }
    #popup-kou1t:checked + .popup{
      display: block;
    }
  .kou1ESslope{
    position: absolute;
    top: 68%;
    left: 84%;
    margin: auto;
    transform: rotate(180deg);
  }
  #popup-kou1ESslope{
    display: none;
  }
  #popup-kou1ESslope:checked + .popup{
    display: block;
  }
  .kou1WSslope{
    position: absolute;
    top: 68%;
    left: 34%;
    margin: auto;
    transform: rotate(90deg);
  }
  #popup-kou1WSslope{
    display: none;
  }
  #popup-kou1WSslope:checked + .popup{
    display: block;
  }
  .kou1WNslope{
    position: absolute;
    top: 25%;
    left: 34%;
    margin: auto;
    transform: rotate(90deg);
  }
  #popup-kou1WNslope{
    display: none;
  }
  #popup-kou1WNslope:checked + .popup{
    display: block;
  }
  .kou1Nslope{
    position: absolute;
    top: 5%;
    left: 48%;
    margin: auto;
    transform: rotate(180deg);
  }
  #popup-kou1Nslope{
    display: none;
  }
  #popup-kou1Nslope:checked + .popup{
    display: block;
  }
  .kou1Sslope{
    position: absolute;
    top: 92%;
    left: 48%;
    margin: auto;
  }
  #popup-kou1Sslope{
    display: none;
  }
  #popup-kou1Sslope:checked + .popup{
    display: block;
  }

  /* 工学部1号館2F */
  .kou1ele2{
    position: absolute;
    top: 89%;
    left: 55.5%;
    margin: auto;
  }
  .kou1t2{
    position: absolute;
    top: 74%;
    left: 33%;
    margin: auto;
  }
  /* 工学部1号館3F */
  .kou1ele3{
    position: absolute;
    top: 88%;
    left: 55.5%;
    margin: auto;
  }
  .kou1t3{
    position: absolute;
    top: 73%;
    left: 33%;
    margin: auto;
  }

  /* 工学部4号館1F */
.kou4ele1{
    position: absolute;
    top: 35%;
    left: 25%;
    margin: auto;
  }
    #popup-kou4ele{
      display: none;
    }
    #popup-kou4ele:checked + .popup{
      display: block;
    }
  .kou4t1{
    position: absolute;
    top: 32%;
    left: 36%;
    margin: auto;
  }
    #popup-kou4t{
      display: none;
    }
    #popup-kou4t:checked + .popup{
      display: block;
    }
  .kou4Sslope{
    position: absolute;
    top: 80%;
    left: 40%;
    margin: auto;
  }
  #popup-kou4Sslope{
    display: none;
  }
  #popup-kou4Sslope:checked + .popup{
    display: block;
  }
  .kou4Nslope{
    position: absolute;
    top: 16%;
    left: 40%;
    margin: auto;
    transform: rotate(180deg);
  }
  #popup-kou4Nslope{
    display: none;
  }
  #popup-kou4Nslope:checked + .popup{
    display: block;
  }
  /* 工学部4号館2F */
  .kou4ele2{
    position: absolute;
    top: 33%;
    left: 18%;
    margin: auto;
  }
  /* 工学部4号館4F */
  .kou4ele4{
    position: absolute;
    top: 33%;
    left: 18%;
    margin: auto;
  }
  /* 工学部5号館1F */
  .kou5ele1{
    position: absolute;
    top: 30%;
    left: 30%;
    margin: auto;
  }
    #popup-kou5ele{
      display: none;
    }
    #popup-kou5ele:checked + .popup{
      display: block;
    }
  .kou5t1{
    position: absolute;
    top: 18%;
    left: 28%;
    margin: auto;
  }
    #popup-kou5t{
      display: none;
    }
    #popup-kou5t:checked + .popup{
      display: block;
    }
  .kou5WSslope{
    position: absolute;
    top: 80%;
    left: 10%;
    margin: auto;
    transform: rotate(90deg);
  }
  #popup-kou5WSslope{
    display: none;
  }
  #popup-kou5WSslope:checked + .popup{
    display: block;
  }
  .kou5WNslope{
    position: absolute;
    top: 28%;
    left: 15%;
    margin: auto;
    transform: rotate(90deg);
  }
  #popup-kou5WNslope{
    display: none;
  }
  #popup-kou5WNslope:checked + .popup{
    display: block;
  }
  /* 工学部5号館2F */
  .kou5ele2{
    position: absolute;
    top: 45%;
    left: 21%;
    margin: auto;
  }
  .kou5t2{
    position: absolute;
    top: 27%;
    left: 18%;
    margin: auto;
  }
  /* 工学部6号館1F */
  .kou6ele1{
    position: absolute;
    top: 52%;
    left: 40%;
    margin: auto;
  }
    #popup-kou6ele{
      display: none;
    }
    #popup-kou6ele:checked + .popup{
      display: block;
    }
  .kou6t1{
    position: absolute;
    top: 43%;
    left: 39%;
    margin: auto;
  }
    #popup-kou6t{
      display: none;
    }
    #popup-kou6t:checked + .popup{
      display: block;
    }
  .kou6Nslope{
    position: absolute;
    top: 30%;
    left: 35%;
    margin: auto;
    transform: rotate(180deg);
  }
  #popup-kou6Nslope{
    display: none;
  }
  #popup-kou6Nslope:checked + .popup{
    display: block;
  }
  .kou6Wslope{
    position: absolute;
    top: 60%;
    left: 1%;
    margin: auto;
    transform: rotate(90deg);
  }
  #popup-kou6Wslope{
    display: none;
  }
  #popup-kou6Wslope:checked + .popup{
    display: block;
  }
  /* 工学部旧15号館 */
  .kou15t{
    position: absolute;
    top: 28%;
    left: 50%;
    margin: auto;
  }
    #popup-kou15t{
      display: none;
    }
    #popup-kou15t:checked + .popup{
      display: block;
    }
  .kou15Nslope{
    position: absolute;
    top: 15%;
    left: 60%;
    margin: auto;
    transform: rotate(180deg);
  }
  #popup-kou15Nslope{
    display: none;
  }
  #popup-kou15Nslope:checked + .popup{
    display: block;
  }
  

/* 文・法・経済学部 */
  .relative_bhk{
  position: relative;
  max-width: 1000px;
  min-width: 250px;
  width: 80%;
  margin: 0 auto;
}

  .icon_bhk{
    width: 4%;
    height: auto;
  }
  /* 文法経 講義棟 1F */

  /* 文法経 講義棟 2F */
  /* 文法経 1号館 1F */
  /* 文法経 1号館 2F */
  /* 文法経 1号館 3F */
  


/* 教育学部 */
.relative_kyoiku{
  position: relative;
  max-width: 1000px;
  min-width: 250px;
  width: 80%;
  margin: 0 auto;
}
  .icon_kyoiku{
    width: 4%;
    height: auto;
  }
  /* 教育学部 講義棟 1F */
  .kyoiku_kougi_ele1{
    position: absolute;
      top: 60%;
      left: 5%;
      margin: auto;
  }
    #popup-kyoiku_kougi_ele{
      display: none;
    }
    #popup-kyoiku_kougi_ele:checked + .popup{
      display: block;
    }
  .kyoiku_kougi_t1{
    position: absolute;
      top: 52%;
      left: 54%;
      margin: auto;
  }
    #popup-kyoiku_kougi_t{
      display: none;
    }
    #popup-kyoiku_kougi_t:checked + .popup{
      display: block;
    }
  .kyoiku_kougi_Wslope{
    position: absolute;
      top: 20%;
      left: 24%;
      margin: auto;
      transform: rotate(90deg);
  }
    #popup-kyoiku_kougi_Wslope{
      display: none;
    }
    #popup-kyoiku_kougi_Wslope:checked + .popup{
      display: block;
    }
  /* 教育学部 講義棟 2F */
  .kyoiku_kougi_ele2{
    position: absolute;
      top: 63%;
      left: 2%;
      margin: auto;
  }
  .kyoiku_kougi_t2{
    position: absolute;
      top: 54%;
      left: 53%;
      margin: auto;
  }
  /* 教育学部 講義棟 3F */
  .kyoiku_kougi_ele3{
    position: absolute;
      top: 53%;
      left: 3%;
      margin: auto;
  }
  /* .kyoiku_kougi_t3{
    position: absolute;
      top: 52%;
      left: 54%;
      margin: auto;
  } */
  /* 教育学部 講義棟 4F */
  .kyoiku_kougi_ele4{
    position: absolute;
      top: 52%;
      left: 3%;
      margin: auto;
  }
  /* .kyoiku_kougi_t4{
    position: absolute;
      top: 63%;
      left: 40%;
      margin: auto;
  } */

/* 理学部 */
  .relative_ri{
    position: relative;
    max-width: 1000px;
    min-width: 250px;
    width: 80%;
    margin: 0 auto;
  }
  .icon_ri{
    width: 4%;
    height: auto;
  }
  .icon_ri2{
    width: 10%;
    height: auto;
  }

  /* 理学部 1F */
  .ri_ele1{
    position: absolute;
    top: 22%;
    left: 76%;
    margin: auto;
  }
    #popup-ri_ele{
      display: none;
    }
    #popup-ri_ele:checked + .popup{
      display: block;
    }
    .ri_coele1{
      position: absolute;
      top: 73%;
      left: 88%;
      margin: auto;
    }
      #popup-ri_coele{
        display: none;
      }
      #popup-ri_coele:checked + .popup{
        display: block;
      }
  .ri_1t{
    position: absolute;
    top: 22%;
    left: 63%;
    margin: auto;
  }
    #popup-ri_1t{
      display: none;
    }
    #popup-ri_1t:checked + .popup{
      display: block;
    }
  .ri_cot{
    position: absolute;
    top: 71%;
    left: 82%;
    margin: auto;
  }
    #popup-ri_cot{
      display: none;
    }
    #popup-ri_cot:checked + .popup{
      display: block;
    }
  .ri_WNslope{
    position: absolute;
    top: 5%;
    left: 63%;
    margin: auto;
    transform: rotate(180deg);
  }
  #popup-ri_WNslope{
    display: none;
  }
  #popup-ri_WNslope:checked + .popup{
    display: block;
  }
  .ri_ENslope{
    position: absolute;
    top: 5%;
    left: 75%;
    margin: auto;
    transform: rotate(180deg);
  }
  #popup-ri_ENslope{
    display: none;
  }
  #popup-ri_ENslope:checked + .popup{
    display: block;
  }
  .ri_ESslope{
    position: absolute;
    top: 60%;
    left: 75%;
    margin: auto;
    transform: rotate(180deg);
  }
  #popup-ri_ESslope{
    display: none;
  }
  #popup-ri_ESslope:checked + .popup{
    display: block;
  }
  .ri_FSslope{
    position: absolute;
    top: 45%;
    left: 7%;
    margin: auto;
    transform: rotate(80deg);
  }
  #popup-ri_FSslope{
    display: none;
  }
  #popup-ri_FSslope:checked + .popup{
    display: block;
  }

  .ri_coSslope{
    position: absolute;
    top: 87%;
    left: 85%;
    margin: auto;
  }
  #popup-ri_coSslope{
    display: none;
  }
  #popup-ri_coSslope:checked + .popup{
    display: block;
  }
  .ri_coEslope{
    position: absolute;
    top: 72%;
    left: 95%;
    margin: auto;
    transform: rotate(-90deg);
  }
  #popup-ri_coEslope{
    display: none;
  }
  #popup-ri_coEslope:checked + .popup{
    display: block;
  }


  /* 理学部 2F */
  .ri_ele2{
    position: absolute;
    top: 22%;
    left: 75%;
    margin: auto;
  }
  .ri_coele2{
    position: absolute;
    top: 72%;
    left: 88%;
    margin: auto;
  }
  .ri_2t{
    position: absolute;
    top: 11%;
    left: 84%;
    margin: auto;
  }
    #popup-ri_2t{
      display: none;
    }
    #popup-ri_2t:checked + .popup{
      display: block;
    }
  /* 理学部 3F */
  .ri_ele3{
    position: absolute;
    top: 27%;
    left: 76%;
    margin: auto;
  }
  .ri_coele3{
    position: absolute;
    top: 65%;
    left: 86%;
    margin: auto;
  }
  .ri_3t{
    position: absolute;
    top: 62%;
    left: 23%;
    margin: auto;
  }
    #popup-ri_3t{
      display: none;
    }
    #popup-ri_3t:checked + .popup{
      display: block;
    }
  /* 理学部 4F */
  .ri_ele4{
    position: absolute;
    top: 60%;
    left: 10%;
    margin: auto;
  }

/* 薬学部 */
.relative_yaku{
  position: relative;
  max-width: 1000px;
  min-width: 250px;
  width: 80%;
  margin: 0 auto;
}
.icon_yaku{
  width: 4%;
  height: auto;
}
/* 1F */
.yaku_ele1{
  position: absolute;
  top: 46%;
  left: 67%;
  margin: auto;
}
#popup-yaku_ele{
  display: none;
}
#popup-yaku_ele:checked + .popup{
  display: block;
}
.yaku1_1t{
  position: absolute;
  top: 38%;
  left: 67%;
  margin: auto;
}
#popup-yaku1_1t{
  display: none;
}
#popup-yaku1_1t:checked + .popup{
  display: block;
}
.yaku1_Nslope{
  position: absolute;
  top: 65%;
  left: 42%;
  margin: auto;
  transform: rotate(180deg);
}
#popup-yaku1_Nslope{
  display: none;
}
#popup-yaku1_Nslope:checked + .popup{
  display: block;
}
.yaku1_ESslope{
  position: absolute;
  top: 85%;
  left: 80%;
  margin: auto;
}
#popup-yaku1_ESslope{
  display: none;
}
#popup-yaku1_ESslope:checked + .popup{
  display: block;
}
.yaku1_FNslope{
  position: absolute;
  top: 43%;
  left: 90%;
  margin: auto;
  transform: rotate(-100deg);
}
#popup-yaku1_FNslope{
  display: none;
}
#popup-yaku1_FNslope:checked + .popup{
  display: block;
}
.yaku1_FSslope{
  position: absolute;
    top: 55%;
    left: 90%;
    margin: auto;
    transform: rotate(-80deg);
}
#popup-yaku1_FSslope{
  display: none;
}
#popup-yaku1_FSslope:checked + .popup{
  display: block;
}

.yaku1_WSslope{
  position: absolute;
  top: 88%;
  left: 17%;
  margin: auto;
}
#popup-yaku1_WSslope{
  display: none;
}
#popup-yaku1_WSslope:checked + .popup{
  display: block;
}
.yaku2_Nslope{
  position: absolute;
  top: 7%;
  left: 22%;
  margin: auto;
  transform: rotate(180deg);
}
#popup-yaku2_Nslope{
  display: none;
}
#popup-yaku2_Nslope:checked + .popup{
  display: block;
}
.yaku2_Eslope{
  position: absolute;
  top: 43%;
  left: 27%;
  margin: auto;
  transform: rotate(-90deg);
}
#popup-yaku2_Eslope{
  display: none;
}
#popup-yaku2_Eslope:checked + .popup{
  display: block;
}


  /* 2F */
  .yaku_ele2{
    position: absolute;
    top: 45%;
    left: 72%;
    margin: auto;
  }
  .yaku2_2t{
    position: absolute;
    top: 30%;
    left: 5%;
    margin: auto;
  }
  #popup-yaku2_2t{
    display: none;
  }
  #popup-yaku2_2t:checked + .popup{
    display: block;
  }


/* 農学部 */
  .relative_nou{
    position: relative;
    max-width: 1000px;
    min-width: 250px;
    width: 80%;
    margin: 0 auto;
  }
  .icon_nou{
    width: 4%;
    height: auto;
  }
/* 農学部 1号館 */
/* 1F */
.nou1ele1{
  position: absolute;
  top: 55%;
  left: 82%;
  margin: auto;
}
#popup-nou1ele{
  display: none;
}
#popup-nou1ele:checked + .popup{
  display: block;
}
.nou1t1{
  position: absolute;
  top: 42%;
  left: 82%;
  margin: auto;
}
#popup-nou1t{
  display: none;
}
#popup-nou1t:checked + .popup{
  display: block;
}

.nou1ENslope{
  position: absolute;
  top: 5%;
  left: 86%;
  margin: auto;
  transform: rotate(180deg);
}
#popup-nou1ENslope{
  display: none;
}
#popup-nou1ENslope:checked + .popup{
  display: block;
}

.nou1WNslope{
  position: absolute;
  top: 5%;
  left: 43%;
  margin: auto;
  transform: rotate(180deg);
}
#popup-nou1WNslope{
  display: none;
}
#popup-nou1WNslope:checked + .popup{
  display: block;
}

.nou1FNslope{
  position: absolute;
  top: 42%;
  left: 95%;
  margin: auto;
  transform: rotate(-100deg);
}
#popup-nou1FNslope{
  display: none;
}
#popup-nou1FNslope:checked + .popup{
  display: block;
}

.nou1FSslope{
  position: absolute;
  top: 58%;
  left: 95%;
  margin: auto;
  transform: rotate(-80deg);
}
#popup-nou1FSslope{
  display: none;
}
#popup-nou1FSslope:checked + .popup{
  display: block;
}
/* 2F */
.nou1ele2{
  position: absolute;
  top: 56%;
  left: 82%;
  margin: auto;
}
.nou1t2{
  position: absolute;
  top: 43%;
  left: 81%;
  margin: auto;
}
/* 3F */



.footer1{
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
}
@media (max-width: 501px) {

}