@charset "utf-8";
/* common */
/* small screen */


html{
  background-color: pink;
  font-family: 'UD デジタル 教科書体 NP-B',Arial,'Droid Sans','メイリオ', Helvetica, sans-serif;
}
aside{
  display: none;
}

.body1{
  background-color: #d2fad8;
  width: auto;
  margin: 3% 5%;
  border-radius: 50px;
}
.header1{
  color: #000;
  border: inherit;
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  width: auto;
  height: auto;
  padding: 10px 0 0;
}

.map1{
  width: 100%;
  height: auto;
  padding: 0;
  border: 5px solid rgba(0, 140, 255, 0.4);
  border-radius: 2%;
}

.section1{
  text-align: center;
  list-style: none;
  display: block;
  margin: 10 auto;
  padding-left: auto;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;

}
.section3{
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
}

ul{
  padding: 0%;
  list-style: none;
}
li{
  margin-bottom: 30px;
}
.link_button{
  text-decoration: none;/*下線消す*/
  color:#000;
  padding:5px 10px;
  border: solid #000 2px;
  border-radius: 10px;/*角を丸くする*/
  cursor :pointer;
}
.link_button:hover {
  background: #efefef;
  text-decoration: none;/*下線を消す*/
}

#blockCM,#blockABC1,#blockABC2,#blockABC3,#blockABC4,#blockDE1,#blockDE2,#blockDE3,#blockDE4,#blockDE5,#blockDE6{
  margin: 30px 10% 10px;
  padding: 15px 0 0;
  border-top: dotted #000;
}

.shadow:hover{
  filter: drop-shadow(0px 0px 10px rgb(0, 240, 0));
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

/*全体*/
.hidden_box {
  margin: 2em 0;/*前後の余白*/
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
  padding: 15px;
  border: dashed 2px black;
  cursor :pointer;
  border-radius: 10px;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}



/* ポップアップ全体設定 */
* {
  box-sizing: border-box;
  }

/* ポップアップウインドウの設定 */
.popup {
  background-color: #efefef;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70vw;
  height: 55vw;
  overflow-y: scroll;
  z-index: 99;
}
/* チェックボックスの初期設定 */
#popup-on{
  display: none;
}
/* チェックされたらポップアップウインドウを開く */
#popup-on:checked + .popup{
  display: block;
}

/* 閉じるアイコン（右上） */
.icon-close{
  background: #000;
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  right: 0;
}

/* 閉じるボタン */
.btn-close{
  background: #000;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin: 10px auto;
  width: 95%;
  text-align: center;
}

/* 開くボタン */
.btn-open{
  background: #fff;
  border-radius: 10px;
  color: #fff;
  padding: 0px;
  cursor: pointer;
  margin: 0px ;
  width: 95%;
  text-align: center;
}

/* ポップアップの内容 */
.popup-content{
  margin: 30px auto 30px auto;
  width: 90%;
}

/* ポップアップの文字 */
.popup-p{
  margin: auto;
}

/* HOME */
.asolutebf{
  position: absolute;
}

/* 一般教育棟ABC棟 */
.relativeABC{
  position: relative;
  max-width: 1000px;
  min-width: 250px;
  width: 80%;
  margin: 0 auto;
}

/* ABC1F */
.absoluteAED1{
  position: absolute;
  top: 70%;
  left: 96.5%;
}
.absoluteELA1{
  position: absolute;
  top: 40.2%;
  left: 89%;
}
#popup-Aele{
  display: none;
}
#popup-Aele:checked + .popup{
  display: block;
}

.absoluteELB1{
  position: absolute;
  top: 36%;
  left: 18.5%;
}
#popup-Bele{
  display: none;
}
#popup-Bele:checked + .popup{
  display: block;
}

.absoluteTB1_1{
  position: absolute;
  top: 55%;
  left: 54%;
}
#popup-BtoiletGirl{
  display: none;
}
#popup-BtoiletGirl:checked + .popup{
  display: block;
}
.absoluteTB1_2{
  position: absolute;
  top: 61%;
  left: 54%;
}
#popup-BtoiletBoy{
  display: none;
}
#popup-BtoiletBoy:checked + .popup{
  display: block;
}
.absoluteTC1{
  position: absolute;
  top: 60%;
  left: 6.5%;
}
#popup-Ctoilet{
  display: none;
}
#popup-Ctoilet:checked + .popup{
  display: block;
}
.absoluteAFslope{
  position: absolute;
  top: 45%;
  left: 97%;
  transform: rotate(-90deg);
}
#popup-AFslope{
  display: none;
}
#popup-AFslope:checked + .popup{
  display: block;
}
.absoluteANslope{
  position: absolute;
  top: 37%;
  left: 87%;
  transform: rotate(180deg);
}
#popup-ANslope{
  display: none;
}
#popup-ANslope:checked + .popup{
  display: block;
}
.absoluteBNslope{
  position: absolute;
  top: 37%;
  left: 57%;
  transform: rotate(180deg);
}
#popup-BNslope{
  display: none;
}
#popup-BNslope:checked + .popup{
  display: block;
}
.absoluteCNslope{
  position: absolute;
  top: 28%;
  left: 14%;
  transform: rotate(-90deg);
}
#popup-CNslope{
  display: none;
}
#popup-CNslope:checked + .popup{
  display: block;
}
.absoluteCSslope{
  position: absolute;
  top: 92%;
  left: 10%;
}
#popup-CSslope{
  display: none;
}
#popup-CSslope:checked + .popup{
  display: block;
}
.absoluteCFslope{
  position: absolute;
  top: 50%;
  left: 2%;
  transform: rotate(90deg);
}
#popup-CFslope{
  display: none;
}
#popup-CFslope:checked + .popup{
  display: block;
}

/* ABC2F */
.absoluteELA2{
  position: absolute;
  top: 40%;
  left: 91%;
}
.absoluteELB2{
  position: absolute;
  top: 35%;
  left: 14%;
}
.absoluteTB2_1{
  position: absolute;
  top: 55%;
  left: 53%;
}
.absoluteTB2_2{
  position: absolute;
  top: 61%;
  left: 53%;
}
/* ABC3F */
.absoluteELA3{
  position: absolute;
  top: 42%;
  left: 91%;
}
.absoluteELB3{
  position: absolute;
  top: 38%;
  left: 14.5%;
}
.absoluteTB3_1{
  position: absolute;
  top: 55%;
  left: 53%;
}
.absoluteTB3_2{
  position: absolute;
  top: 61%;
  left: 53%;
}
/* ABC4F */
.absoluteELA4{
  position: absolute;
  top: 41%;
  left: 91%;
}
.absoluteELB4{
  position: absolute;
  top: 38%;
  left: 14.5%;
}
.absoluteTB4_1{
  position: absolute;
  top: 56%;
  left: 53%;
}
.absoluteTB4_2{
  position: absolute;
  top: 62%;
  left: 53%;
}


/* 一般教育棟DE棟 */
.relativeDE{
  position: relative;
  width: 45%;
  margin: 0 auto;
}
/* DE1F */
.absoluteDele1{
  position: absolute;
  top: 24%;
  left: 76%;
}
.Dele{
  transform-origin: 0 100;
  transform: rotate(90deg);
  margin: 50px auto 30px auto;
}
#popup-Dele{
  display: none;
}
#popup-Dele:checked + .popup{
  display: block;
}
.absoluteDtoilet1{
  position: absolute;
  top: 67%;
  left: 73%;
}
#popup-Dtoilet{
  display: none;
}
#popup-Dtoilet:checked + .popup{
  display: block;
}
.absoluteDNslope{
  position: absolute;
  top: 24%;
  left: 95%;
  transform: rotate(-90deg);
}
#popup-DNslope{
  display: none;
}
#popup-DNslope:checked + .popup{
  display: block;
}
.absoluteDFslope{
  position: absolute;
  top: 76%;
  left: 85%;
  transform: rotate(-90deg);
}
#popup-DFslope{
  display: none;
}
#popup-DFslope:checked + .popup{
  display: block;
}
.absoluteENslope{
  position: absolute;
  top: 70%;
  left: 56%;
  transform: rotate(180deg);
}
#popup-ENslope{
  display: none;
}
#popup-ENslope:checked + .popup{
  display: block;
}
.absoluteESslope{
  position: absolute;
  top: 86%;
  left: 56%;
}
#popup-ESslope{
  display: none;
}
#popup-ESslope:checked + .popup{
  display: block;
}

/* DE2F */
.absoluteDele2{
  position: absolute;
  top: 24%;
  left: 76%;
}
.absoluteDtoilet2{
  position: absolute;
  top: 67%;
  left: 72%;
}
/* DE3F */
.absoluteDele3{
  position: absolute;
  top: 25%;
  left: 75%;
}

.absoluteDtoilet3{
  position: absolute;
  top: 67%;
  left: 70%;
}
/* DE4F */
.absoluteDele4{
  position: absolute;
  top: 25%;
  left: 75%;
}
.absoluteDtoilet4{
  position: absolute;
  top: 67%;
  left: 70%;
}
/* DE5F */
.absoluteDele5{
  position: absolute;
  top: 92%;
  left: 47%;
}
/* DE6F */
.absoluteDele6{
  position: absolute;
  top: 92%;
  left: 47%;
}


.footer1{
  text-align: center;
  text-decoration: none;
  padding-bottom: 10px;
}

/* large screen */
@media (min-width: 501px) {
  aside{
    display: block;
    position: fixed;
    background: plum;
    width: 160px;
  }
}